---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/" class="logo">News</a>
      </header>
      <slot />
      <footer>
        <span>This software was created for educational purposes.</span>
        <span> Marcin Hodor - mhodor@o2.pl</span>
        <span>
          GitHub repository:
          <a
            href="https://github.com/marcinhodor/article_scraper_and_summarizer_client"
            target="_blank"
            rel="noreferrer"
          >
            link
          </a>
        </span>
      </footer>
    </div>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
  :root {
    --light-grey: #f0f0f0;
    --dark-blue: #424874;
    --dark-blue-hover: #2a2e4b;
    --almost-black: #353535;
    --white: #fff;
  }
  html {
    font-family: "Roboto", system-ui, sans-serif;
    background-color: var(--white);
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body,
  img,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  ol,
  ul {
    list-style: none;
  }
</style>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    header {
      height: 3rem;
      background: var(--dark-blue);
      display: flex;

      .logo {
        align-items: center;
        color: var(--white);
        font-size: 1.8rem;
        display: flex;
        margin-left: 8%;
        text-decoration: none;
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: auto;
      border-top: 1px solid rgb(190, 190, 190);
      padding: 10px;
      line-height: 1.5em;
      font-size: 0.9em;
    }
  }
</style>
